body
{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
header
{
    display: flex;
    justify-content: space-between;   
}
header, #titre_principal
{
    padding-bottom: 10px;
    padding-right: 180px;
}
#logo
{
    width: 100px;
}
#logo img
{
    width: 109px;
    height: 50px;
    padding-top: 30px;
    margin-left: 100px;
}
.menu
{
    
}
nav ul 
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    
}
nav li
{
    margin-right: 60px;

}
li 
{
    color:#0065FC;
    padding-top: 30px;
   
}
li:hover
{
  color:#0065FC;
  padding-top: 30px;
  border-top: 1px solid  #0065FC ;
}
nav a
{
    
    font-size: medium;
    padding-bottom: 3px;
    text-decoration: none;
} 
 
 a:hover
{   
    text-decoration: none;
    color: #0065FC ;
    border-bottom: 1px solid #f2f2f2;
    
}

a
{
    color:rgb(7, 6, 6);
    text-decoration: none;
}