body
{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
header
{
    display: flex;
    justify-content: space-between;   
    max-width: 1440px;
    margin: auto;
}
header, #titre_principal
{
    padding-bottom: 10px;
    padding-right: 180px;
}
#logo
{
    width: 100px;
}
#logo img
{
    width: 109px;
    height: 50px;
    padding-top: 30px;
    margin-left: 100px;
}
.menu
{
    
}
nav ul 
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    
}
nav li
{
    margin-right: 60px;

}
li 
{
    color:#0065FC;
    padding-top: 30px;
   
}
li:hover
{
  color:#0065FC;
  padding-top: 30px;
  border-top: 1px solid  #0065FC ;
}
nav a
{
    
    font-size: medium;
    padding-bottom: 3px;
    text-decoration: none;
} 
 
 a:hover
{   
    text-decoration: none;
    color: #0065FC ;
    border-bottom: 1px solid #f2f2f2;
    
}

a
{
    color:rgb(7, 6, 6);
    text-decoration: none;
}
main 
{
max-width: 1440px;
margin: auto;
}

header.headerSearch
{
    display: block;
}
h1{
    font-size: large;
}

p{
    font-size: large;
    
}
.fontmarker
{
    background-color: #f2f2f2;
    padding: 15px 20px ;
    border-radius: 15px 0 0 15px;
}
.inputrecherche
{
    border-top: #f2f2f2 1px solid;
    border-right: none;
    border-bottom: #f2f2f2 1px solid;
    border-left: none;
    padding-top: 15px;
    padding-bottom: 15px;
}.rechercheButton
{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0px 15px 15px 0px;
    font-size: 20px;
    padding: 0px 20px;
    height: 50px;
    width: 130px;
}

